.testimonial 
{
    align-content: center;
    text-align: center;
    height: 300px;
    padding:25px;
}

.testimonial-header
{
    text-align:center;
    font-weight:700;
}

.testimonial-content
{
    padding:25px;
}

.otpTextBox
{
    width:50px;
    border:none;
    outline:none;
}

.otpTextBox:focus
{
    outline:none;
}